<div class="section"><h3>watch video to know more</h3></div>
<video width="95%" height="52.5%" controls>
    <source src="../assets/vid.mp4" type="video/mp4"></video>
<p>we sell youtube/facebook/instagram/league of legends/tiktok accounts every account is manually checked and  100% trusty   
</p>
<div class="contact">
    <footer>
      <h4>for contact</h4>
      <h4>+21693047155   <img class="whatsup" src="../assets/whatsuplogo.png">  </h4>
      <img class="qr" src="../assets/qr.png"></footer>
    </div>