p{
    font-size: 22px;
    background-color: rgb(174, 177, 223);
    border-radius: 8px;
}
h4{
  font-size: 23px;
}
footer{
    margin-top: 15px;
    text-align: center;
    margin-left: 24.5%;
}
.whatsup{
    height: 50px;
    width: 50px;
}
.section{
    margin-left: 52.5%;
}