<body>
<nav>
<div class="dropdown">
    <a routerLink='/'>☰ Home</a>
    <div class="dropdown-content">
<ul>
    <li><a routerLink='instagram'>instagram</a></li>
    <li><a routerLink='facebook'>facebook</a></li>
    <li> <a routerLink='youtube'>youtube</a></li>
    <li> <a routerLink='tiktok'>tiktok</a></li>
    <li> <a routerLink='lol'>lol</a></li>
    <li> <a routerLink='about'>about</a></li>
</ul>
</div>
</div>
</nav>
<div class="row">
  <div class="column1">
    <router-outlet></router-outlet>
    </div>
  <div class="column">

<form class="form-group | async">
  <h3>sell to us</h3>
  <table>
  <div class="case">
    <tr><label>Username</label></tr>
    <td><input type="text" [(ngModel)]="username" size="13"
    [ngModelOptions]="{standalone: true}"  class="form-control"  required></td>
    </div>
  <div class="case"><tr><label>Password</label></tr>
    <td>
    <input type="password" [ngModelOptions]="{standalone: true}" size="13" [(ngModel)]="password" class="form-control"  required></td></div>
    <div class="case">
      <tr> <label>Email</label></tr>
      <td><input type="email" size="13" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control"  required></td></div>
      <div class="case">
        <tr>Password email</tr>
        <td><input type="password"[(ngModel)]="email_password" [ngModelOptions]="{standalone: true}" size="13"class="form-control" required></td>
      </div>
      <div class="case">
        <tr> <label>contact Email</label></tr>
        <td><input type="email" size="13" [(ngModel)]="contact_email" [ngModelOptions]="{standalone: true}" class="form-control"  required></td></div>
      <div class="case"> 
        <tr>
         <label>Type</label></tr>
        <select  class="select" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
          <option value="instagram" name="instagram">instagram</option>
            <option value="facebook" name="facebook">facebook</option>
            <option value="youtube" name="youtube">youtube</option>
            <option value="tiktok" name="tiktok">tiktok</option>
            <option value="league of legends">league of legends</option>
        </select></div>
        <div class="case">
          <button type="submit"  (click)="postData()" class="btn btn-success">submit</button>
        </div>
  </table>
</form>
</div>
